Django==2.1.1
django-ckeditor==5.6.1
django-classy-tags==0.8.0
django-js-asset==1.1.0
django-taggit==0.23.0
django-taggit-templatetags2==1.6.1
gunicorn==19.9.0
Markdown==3.0.1
Pillow==5.2.0
psycopg2-binary==2.7.5
pytz==2018.5
