{% extends "account/dashboard.html" %}
{% load i18n %}
{% block profile %}
<div class="tab-content">

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
      <h2>{{ message|safe }}</h2>

    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="tab-pane active" id="home">
    <hr>
    <form class="form" action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">

        <div class="col-xs-6">
          <label for="first_name"><h4>{% trans "First name" %}</h4></label><br>
          {{ user_form.first_name }}
        </div>
      </div>
      <div class="form-group">

        <div class="col-xs-6">
          <label for="last_name"><h4>{% trans "Last name" %}</h4></label><br>
          {{ user_form.last_name }}
        </div>
      </div>

      <div class="col-xs-6">
        <label for="email"><h4>{% trans "Email" %}</h4></label><br>
        {{ user_form.email }}
      </div>
    </div>
    <div class="form-group">

      <div class="col-xs-6">
        <label for="email"><h4>{% trans "Date of Birth" %}</h4></label><br>
        {{ profile_form.date_of_birth }}
      </div>
    </div>
    <div class="form-group">

      <div class="col-xs-6">
        <label for="email"><h4>{% trans "Upload a different photo..." %}</h4></label><br>
        {{ profile_form.photo }}
      </div>
    </div>



    <div class="form-group">
      <div class="col-xs-12">
        <br>
        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> {% trans "Save" %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
